<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.SysStaffMapper">

    <resultMap type="SysStaff" id="SysStaffResult">
        <id property="userId" column="ID"/>
        <result property="userName" column="NAME"/>
        <result property="sex" column="SEX"/>
        <result property="age" column="AGE"/>
        <result property="birthDay" column="BIRTH_DAY"/>
        <result property="phone" column="PHONE"/>
        <result property="nation" column="NATION"/>
        <result property="marital" column="MARITAL"/>
        <result property="hometown" column="HOMETOWN"/>
        <result property="eduBackground" column="EDU_BACKGROUND"/>
        <result property="school" column="SCHOOL"/>
        <result property="major" column="MAJOR"/>
        <result property="graduationDay" column="GRADUATION_DAY"/>
        <result property="workDay" column="WORK_DAY"/>
        <result property="workLevel" column="WORK_LEVEL"/>
        <result property="projectTeam" column="PROJECT_TEAM"/>
        <result property="department" column="DEPARTMENT"/>
        <result property="leader" column="LEADER"/>
        <result property="idCardFront" column="IDCARD_FRONT"/>
        <result property="idCardBack" column="IDCARD_BACK"/>
        <result property="diploma" column="DIPLOMA"/>
        <result property="degree" column="DEGREE"/>
        <result property="isFinish" column="ISFINISH"/>
    </resultMap>

    <sql id="selectStaffVo">
        select s.ID,
               s.NAME,
               s.SEX,
               s.AGE,
               s.BIRTH_DAY,
               s.PHONE,
               s.NATION,
               s.MARITAL,
               s.HOMETOWN,
               s.EDU_BACKGROUND,
               s.SCHOOL,
               s.MAJOR,
               s.GRADUATION_DAY,
               s.WORK_DAY,
               s.WORK_LEVEL,
               s.PROJECT_TEAM,
               s.DEPARTMENT,
               s.LEADER,
               s.IDCARD_FRONT,
               s.IDCARD_BACK,
               s.DIPLOMA,
               s.DEGREE,
               s.ISFINISH
        from sys_staff s

    </sql>

    <select id="selectStaffByQuery" parameterType="QueryVo" resultMap="SysStaffResult">
        <include refid="selectStaffVo"/>
        <where>
            <if test="userName != null and userName != ''">
                AND s.NAME like '%' || #{userName} ||'%'
            </if>
            <if test="level != null and level != ''">
                AND s.WORK_LEVEL = #{level}
            </if>
            <if test="deptName != null and deptName != ''">
                AND s.DEPARTMENT = #{deptName}
            </if>
            <if test="projectName != null and projectName != ''">
                AND s.PROJECT_TEAM =#{projectName}
            </if>
            <if test="projectManager != null and projectManager != ''">
                AND s.LEADER like '%'|| #{projectManager}|| '%'
            </if>
            <if test="isFinish != null and isFinish != ''">
                AND s.ISFINISH = #{isFinish}
            </if>
        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="checkStaffIdUnique" parameterType="String" resultType="int">
        select count(1)
        from sys_staff
        where id = #{userName}
    </select>

    <insert id="insertStaff" parameterType="SysStaff">
        insert into sys_staff(
        <if test="userId != null and userId != ''">ID,</if>
        <if test="userName != null and userName != ''">NAME,</if>
        <if test="sex != null and sex != ''">SEX,</if>
        <if test="age != null and age != -1">AGE,</if>
        <if test="birthDay != null and birthDay != ''">BIRTH_DAY,</if>
        <if test="phone != null and phone != ''">PHONE,</if>
        <if test="nation != null and nation != ''">NATION,</if>
        <if test="marital != null and marital != ''">MARITAL,</if>
        <if test="hometown != null and hometown != ''">HOMETOWN,</if>
        <if test="eduBackground != null and eduBackground != ''">EDU_BACKGROUND,</if>
        <if test="school != null and school != ''">SCHOOL,</if>
        <if test="major != null and major != ''">MAJOR,</if>
        <if test="graduationDay != null and graduationDay != ''">GRADUATION_DAY,</if>
        <if test="workDay != null and workDay != ''">WORK_DAY,</if>
        <if test="workLevel != null and workLevel != ''">WORK_LEVEL,</if>
        <if test="projectTeam != null and projectTeam != ''">PROJECT_TEAM,</if>
        <if test="department != null and department != ''">DEPARTMENT,</if>
        <if test="leader != null and leader != ''">LEADER,</if>
        <if test="idCardFront != null and idCardFront != ''">IDCARD_FRONT,</if>
        <if test="idCardBack != null and idCardBack != ''">IDCARD_BACK,</if>
        <if test="diploma != null and diploma != ''">DIPLOMA,</if>
        <if test="degree != null and degree != ''">DEGREE,</if>
        <if test="isFinish != null and isFinish != ''">ISFINISH</if>
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="age != null and age != -1">#{age},</if>
        <if test="birthDay != null and birthDay != ''">#{birthDay},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="nation != null and nation != ''">#{nation},</if>
        <if test="marital != null and marital != ''">#{marital},</if>
        <if test="hometown != null and hometown != ''">#{hometown},</if>
        <if test="eduBackground != null and eduBackground != ''">#{eduBackground},</if>
        <if test="school != null and school != ''">#{school},</if>
        <if test="major != null and major != ''">#{major},</if>
        <if test="graduationDay != null and graduationDay != ''">#{graduationDay},</if>
        <if test="workDay != null and workDay != ''">#{workDay},</if>
        <if test="workLevel != null and workLevel != ''">#{workLevel},</if>
        <if test="projectTeam != null and projectTeam != ''">#{projectTeam},</if>
        <if test="department != null and department != ''">#{department},</if>
        <if test="leader != null and leader != ''">#{leader},</if>
        <if test="idCardFront != null and idCardFront != ''">#{idCardFront},</if>
        <if test="idCardBack != null and idCardBack != ''">#{idCardBack},</if>
        <if test="diploma != null and diploma != ''">#{diploma},</if>
        <if test="degree != null and degree != ''">#{degree},</if>
        <if test="isFinish != null and isFinish != ''">#{isFinish}</if>

        )
    </insert>
    <!--    <insert id="insertStaff" parameterType="SysStaff">
            insert into sys_staff(
            <if test="ID != null and ID != ''">ID,</if>
            <if test="NAME != null and NAME != ''">NAME,</if>
            <if test="SEX != null and SEX != ''">SEX,</if>
            <if test="AGE != null and AGE != -1">AGE,</if>
            <if test="BIRTH_DAY != null and BIRTH_DAY != ''">BIRTH_DAY,</if>
            <if test="PHONE != null and PHONE != ''">PHONE,</if>
            <if test="NATION != null and NATION != ''">NATION,</if>
            <if test="MARITAL != null and MARITAL != ''">MARITAL,</if>
            <if test="WORK_LEVEL != null and WORK_LEVEL != ''">WORK_LEVEL,</if>
            <if test="PROJECT_TEAM != null and PROJECT_TEAM != ''">PROJECT_TEAM,</if>
            <if test="DEPARTMENT != null and DEPARTMENT != ''">DEPARTMENT,</if>
            <if test="LEADER != null and LEADER != ''">LEADER,</if>
            <if test="ISFINISH != null and ISFINISH != ''">ISFINISH,</if>
            HOMETOWN ,
            EDU_BACKGROUND ,
            SCHOOL ,
            MAJOR,
            GRADUATION_DAY,
            WORK_DAY ,
            IDCARD_FRONT ,
            IDCARD_BACK ,
            DIPLOMA,
            DEGREE
            )values(
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="sex != null and sex != ''">#{sex},</if>
            <if test="age != null and age != -1">#{age},</if>
            <if test="birthDay != null and birthDay != ''">#{birthDay},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="nation != null and nation != ''">#{nation},</if>
            <if test="marital != null and marital != ''">#{marital},</if>
            <if test="workLevel != null and workLevel != 0">#{workLevel},</if>
            <if test="projectTeam != null and projectTeam != ''">#{projectTeam},</if>
            <if test="department != null and department != ''">#{department},</if>
            <if test="leader != null and leader != ''">#{leader},</if>
            <if test="isFinish != null and isFinish != ''">#{isFinish},</if>
            #{hometown},
            #{eduBackground},
            #{school},
            #{major},
            #{graduationDay},
            #{workDay},
            #{idCardFront},
            #{idCardBack},
            #{diploma},
            #{degree}
            )
        </insert>-->
    <update id="updateStaff" parameterType="SysStaff">
        update sys_staff
        <set>
            NAME = #{userName},
            SEX = #{sex},
            AGE = #{age},
            BIRTH_DAY = #{birthDay},
            PHONE = #{phone},
            NATION = #{nation},
            MARITAL = #{marital},
            WORK_LEVEL = #{workLevel},
            PROJECT_TEAM = #{projectTeam},
            DEPARTMENT = #{department},
            LEADER = #{leader},
            ISFINISH = #{isFinish},
            HOMETOWN = #{hometown},
            EDU_BACKGROUND = #{eduBackground},
            SCHOOL = #{school},
            MAJOR = #{major},
            GRADUATION_DAY = #{graduationDay},
            WORK_DAY = #{workDay},
            IDCARD_FRONT = #{idCardFront},
            IDCARD_BACK = #{idCardBack},
            DIPLOMA = #{diploma},
            DEGREE = #{degree}
        </set>

        where ID = #{userId}
    </update>
    <!--   <update id="updateStaff" parameterType="SysStaff">
           update sys_staff
           <set>
               <if test="userName != null and userName != ''">NAME = #{userName},</if>
               <if test="sex != null and sex != ''">SEX = #{sex},</if>
               <if test="age != null and age != -1">AGE = #{age},</if>
               <if test="birthDay != null and birthDay != ''">BIRTH_DAY = #{birthDay},</if>
               <if test="phone != null and phone != ''">PHONE = #{phone},</if>
               <if test="nation != null and nation != ''">NATION = #{nation},</if>
               <if test="marital != null and marital != ''">MARITAL = #{marital},</if>
               <if test="workLevel != null and workLevel != ''">WORK_LEVEL = #{workLevel},</if>
               <if test="projectTeam != null and projectTeam != ''">PROJECT_TEAM = #{projectTeam},</if>
               <if test="department != null and department != ''">DEPARTMENT = #{department},</if>
               <if test="leader != null and leader != ''">LEADER = #{leader},</if>
               <if test="isFinish != null and isFinish != ''">ISFINISH = #{isFinish},</if>
               HOMETOWN = #{hometown},
               EDU_BACKGROUND = #{eduBackground},
               SCHOOL = #{school},
               MAJOR = #{major},
               GRADUATION_DAY = #{graduationDay},
               WORK_DAY = #{workDay},
               IDCARD_FRONT = #{idCardFront},
               IDCARD_BACK = #{idCardBack},
               DIPLOMA = #{diploma},
               DEGREE = #{degree}
           </set>

           where ID = #{userId}
       </update>-->


    <delete id="deleteStaffById" parameterType="String">
        delete
        from sys_staff
        where ID = #{userId}
    </delete>

    <delete id="deleteStaffByIds" parameterType="String">
        delete from sys_staff where ID in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper> 